/* can improve css using grup selectors */

:root {
  --primary-white: #f2f2f2;
  --primary-dark: #c5c5c5;
  --primary-grey-hover: #808080;
  --secondary-grey-hover: #525252;
  --text-color: #070606;
  --grid-block-color: #f2f2f2;
  --primary-btn-bg-color: red;
  --secondary-btn-bg-color: lightcoral;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: var(--primary-dark);
  color: var(--text-color);
  font-family: "Leckerli One", cursive, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("./imgs/background-etchsketch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-container {
  display: flex;
}

header {
  margin-top: 16px;
  font-size: 64px;
  margin-bottom: 32px;
  background-color: rgba(255, 255, 255, 0.05);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 32px;
}

button {
  border: none;
  /* inherit: estilo herdado do elemento pai, there is also initial */
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.btn {
  background-color: #f2f2f2;
}

.text-btn {
  font-weight: 300;
  font-size: 30px;
}

.btn-square {
  border-radius: 25%;
  width: 160px;
  height: 160px;
}

.btn-circle {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  /* maybe add transition when clicked */
  box-shadow: 0px 0px 10px 3px beige;
}

.color-btn {
  background-color: var(--primary-btn-bg-color);
}

.selected {
  border: 0.5px solid #34e009;
}

.color-btn:hover {
  background-color: var(--secondary-btn-bg-color);
}

.btn:active {
  background-color: var(--text-color);
}

/* .sign {
  font-size: 36px;
  padding: 10px;
} */

.grid {
  background-color: var(--primary-white);
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: 512px;
  width: 512px;
  box-shadow: 0px 0px 10px 10px beige;
}

.inactive {
  background-color: var(--primary-white);
}

.inactive:hover {
  background-color: var(--primary-grey-hover);
}

.active {
  background-color: var(--grid-block-color);
}

.active:hover {
  background-color: var(--secondary-grey-hover);
}

.eraser {
  background-color: #f2f2f2;
}

.eraser:hover,
.grid-division-btn:hover,
.rainbow-btn:hover {
  background-color: antiquewhite;
}

.eraser:active,
.grid-division-btn:active,
.rainbow-btn:active {
  background-color: bisque;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #953553;
}

a:active {
  color: #630330;
  text-decoration: none;
}

footer {
  /* margin-top: auto; */
  padding: 10px;
}
